.recentTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin: 10px 0;
}
.recentTable th {
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  background-color: #626b96;
  padding: 10px 5px;
  text-align: left;
}
.recentTableRow td {
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}
.buttonGroup {
  display: flex;
  justify-content: space-between;
}
.numberBtn {
  color: #fff;
  background-color: inherit;
  margin: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #626b96;
  border-radius: 50%;
  cursor: pointer;
}
.numberBtn:hover {
  border-color: #f9b179;
  cursor: pointer;
}
.active {
  background-color: #f9b179;
  border: non;
}
