.navContainer {
  padding: 20px;
  height: 100vh;
  color: #9fa2ae;
  border-right: 1px solid #e5e6e8;
}
.navList {
  padding: 0;
  list-style: none;
}
.navItem {
  padding: 1rem 0;
  font-size: 20px;
  cursor: pointer;
}
.navItem > a {
  color: #9fa2ae;
  text-decoration: none;
}
