.pinContainer {
  padding: 40px;
  text-align: center;
}
.pinTitle {
  font-size: 44px;
}
.pinContents {
  width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pinLabel {
  font-weight: 600;
  margin: 0 10px;
}
.pinInput {
  width: 410px;
  height: 50px;
  margin: 20px 10px;
  background-color: transparent;
  border: 1px solid #9fa2ae;
  border-radius: 8px;
  outline: none;
  color: #f9b179;
}
.pinInput:focus {
  outline: #6a7a65 1px solid;
}
.pinList {
  padding-left: 0;
  display: flex;
}
.pinItem {
  list-style: none;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  outline: none;
  text-align: center;
  border: 1px solid #6f7599;
  border-radius: 8px;
}
.pinItem.active {
  border: 2px solid;
  border-color: #3f4364;
}
.pinKeypad {
  margin: 40px 10px;
  width: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine"
    ". zero btn";
  justify-items: center;
  gap: 30px;
}
.pinKey {
  width: 50px;
  height: 50px;
  font-weight: 600;
  background-color: #9aa596;
  border-radius: 50%;
  cursor: pointer;
}
.pinKey:hover {
  color: #fff;
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
.pinKey[data-value="0"] {
  grid-area: zero;
}

.deleteBtn {
  display: inline;
  border: none;
  background-color: inherit;
  grid-area: btn;
  cursor: pointer;
}
.deleteBtn:hover {
  width: 60px;
  border: 1px solid #6a7a65;
  border-radius: 8px;
}
.confirmBtn {
  margin: 40px 10px;
  font-size: 20px;
  width: 410px;
  height: 40px;
  display: block;
  border: none;
  border-radius: 8px;
  background-color: #6a7a65;
  cursor: pointer;
}
.confirmBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.visibility {
  display: block;
}
