.pinMakeContainer {
  padding: 40px;
  text-align: center;
}
.pinMakeHeader {
  font-size: 44px;
  margin-bottom: 0;
}
.pinMakeContents {
  margin: 20px 0;
}
.pinMakeDesc {
  font-size: 20px;
}
.pinForm {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}
.pinInput {
  display: block;
  width: 400px;
  height: 50px;
  margin: 20px auto;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: rgb(233, 233, 233);
}
.pinInput:focus {
  outline: #6a7a65 1px solid;
}
.pinMsg {
  color: #e26656;
}

.submitBtn {
  margin: 50px auto;
  width: 400px;
  height: 50px;
  border: none;
  color: #fff;
  background-color: #9aa596;
  border-radius: 8px;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
.submitBtn :disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
