.loginContainer {
  padding: 40px;
  text-align: center;
}

.loginHeader {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 8px;
}
.loginDesc {
  font-weight: 600;
  margin: 32px 0;
}

.loginField {
  padding: 0;
  margin: 0 auto;
  border: 0;
  display: flex;
  flex-direction: column;
}
.loginLabel {
  font-weight: 600;
}
.loginInput {
  display: block;
  width: 300px;
  height: 50px;
  margin: 10px auto 20px;
  background-color: transparent;
  border: 1px solid #2f2f2f;
  border-radius: 8px;
  outline: none;
  color: #6a7a65;
}
.loginInput:focus {
  outline: #6a7a65 1px solid;
}
.submitBtn {
  width: 300px;
  height: 50px;
  margin: 16px 0;
  font-weight: 600;
  color: #fff;
  background-color: #9aa596;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.submitBtn {
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
.submitBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.inputMsg {
  display: block;
  color: #e26656;
}

.contentsForGuest {
  font-weight: 600;
  color: #2f2f2f;
}
.guestBtn {
  font-weight: 600;
  border: none;
  color: #f9b179;
  background-color: transparent;
  cursor: pointer;
}

.pinLoginBtn {
  width: 300px;
  height: 50px;
  margin-bottom: 32px;
  color: #fff;
  background-color: #e26656;
  font-weight: 600;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.googleBtn {
  display: flex;
  margin: 0 auto;
  background-color: inherit;
  font-weight: 600;
  border: none;
  padding: 0;
  cursor: pointer;
}
.googleBtn > img {
  width: 300px;
}
