.loginContainer {
  padding: 40px;
  text-align: start;
}

.loginHeader {
  font-size: 44px;
  text-align: start;
  margin-bottom: 0;
}
.loginDesc {
  color: #9fa2ae;
  margin: 32px 0;
}

.loginField {
  padding: 0;
  margin: 0 auto;
  border: 0;
  display: flex;
  flex-direction: column;
}
.loginLabel {
  color: #9fa2ae;
}
.loginInput {
  width: 300px;
  height: 50px;
  margin: 20px 0;
  background-color: transparent;
  border: 1px solid #9fa2ae;
  border-radius: 8px;
  outline: none;
  color: #f9b179;
}
.submitBtn {
  width: 300px;
  height: 50px;
  margin: 32px 0;
  background-color: #f9b179;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.submitBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.contentsForGuest {
  color: #9fa2ae;
}
.guestBtn {
  border: none;
  color: #f9b179;
  background-color: transparent;
  cursor: pointer;
}

.pinLoginBtn {
  width: 300px;
  height: 50px;
  margin-bottom: 32px;
  background-color: #605be2;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.googleBtn {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}
.googleBtn > img {
  width: 300px;
}
