.reportContainer {
  padding: 40px;
  text-align: start;
}
.reportHeader {
  font-size: 44px;
  text-align: start;
  margin-bottom: 0;
}
.reportContents {
  display: flex;
  gap: 43px;
}
.reportList {
  width: 70%;
}
.btnWrapper {
  margin: 32px 0;
}

.selectBtn {
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 20px;
  border: 2px solid #2f2f2f;
  border-radius: 8px;
  background-color: inherit;
  cursor: pointer;
}
.selectBtn:hover {
  background-color: #6a7a65;
  transition: background-color 1s ease;
}

.active {
  background-color: #9aa596;
  color: #fff;
  border-color: #9aa596;
  font-weight: 600;
}

.active:hover {
  background-color: #6a7a65;
}
.pagination {
  margin: 20px 0;
}
.datePicker {
  margin: 20px 0;
}
.dateCalendar {
  height: 40px;
  background-color: #e9e9e9;
  border: none;
  border-radius: 8px;
}
.space {
  margin: 0 32px;
}
.clickPeriodBtn {
  width: 100px;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #2f2f2f;
  border-radius: 20px;
  background-color: inherit;
  cursor: pointer;
}
.clickPeriodBtn:last-child {
  margin-right: 0;
}
.clickPeriodBtn:hover {
  background-color: #6a7a65;
}
.periodActive {
  background-color: #9aa596;
  color: #fff;
  border-color: #9aa596;
  font-weight: 600;
}
.periodActive:hover {
  background-color: #6a7a65;
  border-color: #6a7a65;
}

.purposeWrapper {
  margin-top: 20px;
}
.purposeTypeBtn {
  width: 75px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #2f2f2f;
  border-radius: 20px;
  background-color: inherit;
  cursor: pointer;
}
.purposeTypeBtn:last-child {
  margin-right: 0;
}
.purposeTypeBtn:hover {
  background-color: #6a7a65;
}
.purposeActive {
  background-color: #9aa596;
  color: #fff;
  border-color: #9aa596;
  font-weight: 600;
}
.purposeActive:hover {
  background-color: #6a7a65;
  border-color: #6a7a65;
}
.reportResult {
  margin-top: 100px;
  padding: 20px;
  min-width: 20%;
  height: 90%;
  border: 1px solid #626b96;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.reportResultTotal {
  margin: 32px;
  display: block;
  font-weight: 700;
  font-size: 20px;
}
.reportValue {
  margin-top: 44px;
  font-size: 20px;
  font-weight: 500;
  display: block;
}

@media screen and (max-width: 1024px) {
  .clickPeriodBtn {
    width: 70px;
    margin-right: 10px;
  }
  .purposeTypeBtn {
    width: 65px;
    margin-right: 8px;
  }
  .reportResult {
    padding: 10px;
  }
  .reportResultTotal {
    margin: 32px 8px;
  }
}
@media screen and (max-width: 769px) {
  .reportContents {
    flex-direction: column;
    gap: 0;
  }
  .reportList {
    width: 100%;
  }
  .reportResult {
    margin: 0;
  }
}
@media screen and (max-width: 578px) {
  .space {
    margin: 0 8px;
  }
  .clickPeriodBtn {
    width: auto;
    margin-right: 10px;
  }
  .purposeTypeBtn {
    width: auto;
  }
}
