.transactionContainer {
  padding: 40px;
}
.transactionTitle {
  font-size: 44px;
}
.myAccountInfo {
  padding: 30px;
  border: 3px solid #6a7a65;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.myAccountNumber,
.myAccountBalance {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.myAccountSubtitle,
.receiverSubtitle {
  color: #9fa2ae;
  font-size: 20px;
  font-weight: 600;
}
.myAccountSubcontent {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 600;
}
.receiverWrapper {
  margin-top: 30px;
  padding: 30px;
  border: 3px solid #6a7a65;
  border-radius: 16px;
}
.receiverInfo {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.receiverInfo > select {
  font-size: 16px;
  line-height: 1.5;
  padding: 0.6em 1.4em 0.5em 0.8em;
  border-radius: 8px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
.receiverAccountInput {
  font-size: 16px;
  min-width: 300px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
.receiverAccountInput:focus {
  outline: #6a7a65 1px solid;
}
.submitBtn {
  font-size: 16px;
  width: 100px;
  color: #fff;
  background-color: #9aa596;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
.submitBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.targetWrapper {
  margin-top: 30px;
  padding: 30px;
  border: 3px solid #6a7a65;
  border-radius: 16px;
}
.targetAccountInfo {
  display: flex;
  flex-direction: column;
  color: #9fa2ae;
}
.targetReceiver,
.targetAccountBank {
  font-size: 20;
}

.targetDatas {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}
.targetMoney {
  display: flex;
  flex-direction: column;
}
.targetAmount,
.purposeTitle {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

.informStatus {
  margin: 20px 0;
  font-size: 16px;
  color: #e26656;
}
.informMessage {
  display: block;
  margin-top: 32px;
  font-size: 16px;
  color: rgb(93, 168, 238);
}

/* 거래 목적 */
.targetPurpose {
  display: flex;
  flex-direction: column;
}
.purposeContent {
  font-size: 20px;
  display: block;
}
.purposeBtn {
  margin: 20px 10px 20px 0;
  padding: 10px 12px;
  height: 50px;
  font-size: 16px;
  line-height: 1rem;
  background-color: inherit;
  border: 1px solid #6a7a65;
  border-radius: 8px;
  cursor: pointer;
}
.purposeBtn:hover {
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
.active {
  color: #fff;
  background-color: #9aa596;
  border-color: #9aa596;
  font-weight: bold;
}
.chooseBtnWrapper {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}
.chooseBtn {
  font-size: 20px;
  padding: 10px 20px;
  margin-right: 20px;
  color: #fff;
  background-color: #9aa596;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.chooseBtn:hover {
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
.chooseBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.transferResultWrapper {
  margin-top: 30px;
  padding: 30px;
  border-radius: 16px;
  border: 3px solid #6a7a65;
}

.transferResult {
  display: block;
  color: #9fa2ae;
  font-size: 20px;
}
.transferResultBalance {
  margin-top: 16px;
  display: block;
  color: #e26656;
  font-size: 24px;
  font-weight: 600;
}
.zeroStatus {
  color: #e26656;
  font-size: 16px;
}

.notAllowedStatus {
  margin-bottom: 16px;
  color: #e26656;
  display: block;
}
@media screen and (max-width: 1024px) {
  .informStatus {
    width: 100%;
    margin: 0;
  }
  .receiverAccountInput {
    min-width: 200px;
  }
  .submitBtn {
    width: 80px;
  }
  .targetDatas {
    flex-direction: column;
  }
  .purposeContent {
    margin: 16px 0;
  }
}

@media screen and (max-width: 769px) {
  .transactionTitle {
    font-size: 36px;
  }
  .myAccountSubtitle,
  .receiverSubtitle {
    font-size: 18px;
  }
  .myAccountSubcontent {
    font-size: 24px;
  }
  .informStatus {
    margin: 0;
  }
  .submitBtn {
    width: 80px;
    height: 40px;
  }
  .targetReceiver,
  .targetAccountBank {
    font-size: 18px;
  }
  .targetAmount,
  .purposeTitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 578px) {
  .myAccountInfo {
    display: block;
  }
  .receiverInfo {
    flex-direction: column;
  }
  .receiverAccountInput {
    height: 40px;
  }
  .submitBtn {
    height: 40px;
  }
  .purposeBtn {
    font-size: 12px;
    width: 50px;
  }
}
