.createTitle {
  font-size: 44px;
  text-align: start;
}
.overviewContents {
  padding: 40px;
  height: auto;
  border: 3px solid #6a7a65;
  border-radius: 8px;
}
.overviewAccountInfo {
  display: flex;
  flex-direction: column;
}
.subTitle {
  color: #9fa2ae;
  font-size: 20px;
  font-weight: 600;
}
.subContent {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 600;
}
.buttonWrapper {
  display: flex;
  justify-content: space-around;
}
.btn {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  width: 100px;
  height: 50px;
  color: #fff;
  background-color: #9aa596;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
.accountLink {
  text-decoration: none;
  color: inherit;
}
.accountButton {
  font-size: 10rem;
  color: black;
}
.messageBox {
  display: block;
  color: #e86969;
}

@media screen and (max-width: 769px) {
  .createTitle {
    font-size: 36px;
  }
  .subTitle {
    font-size: 18px;
  }
  .subContent {
    font-size: 24px;
  }
  .btn {
    font-size: 16px;
    width: auto;
  }
}
