.makeAccountMenu {
}

.createTitle {
  font-size: 44px;
  text-align: start;
}
.overviewContents {
  padding: 40px;
  height: auto;
  background-color: #3f4364;
  border-radius: 8px;
}
.overviewAccountInfo {
  display: flex;
  flex-direction: column;
}
.subTitle {
  color: #9fa2ae;
  font-size: 20px;
}
.subContent {
  margin-bottom: 20px;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
}
.buttonWrapper {
  display: flex;
  justify-content: space-around;
}
.btn {
  font-size: 20px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #f9b179;
  cursor: pointer;
}

.accountLink {
  text-decoration: none;
  color: inherit;
}
.accountButton {
  font-size: 10rem;
  color: black;
}
