.mainContainer {
  padding: 40px;
}
.mainTitle {
  font-size: 44px;
  text-align: start;
}
.mainContents {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
}
.sideMenu {
  border: 1px solid #626b96;
  border-radius: 10px;
}

@media screen and (max-width: 769px) {
  .mainTitle {
    font-size: 36px;
  }
}
