.chartContainer {
  height: 100vh;
  overflow: auto;
  padding: 40px;
}
.title {
  font-size: 44px;
}
.buttonWrapper {
  margin-bottom: 32px;
}
.chartDesc {
  display: block;
  margin-bottom: 20px;
}
.selectYearBtn {
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 8px;
  background-color: #9aa596;
  cursor: pointer;
}
.chooseMonthBtn {
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 8px;
  background-color: #9aa596;
  cursor: pointer;
}
.selectYearBtn:hover,
.chooseMonthBtn:hover {
  color: #fff;
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
.selectMonthBtn {
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 8px;
  background-color: #ffacb8;
  cursor: pointer;
}
.selectMonthBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
