.chargeInput {
  font-size: 16px;
  min-width: 300px;
  height: 50px;
  margin: 20px 0;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: rgb(233, 233, 233);
}

.button {
  font-size: 16px;
  line-height: 1.5;
  width: 70px;
  margin: 0 10px 20px 0;
  padding: 10px 0;
  border: 1px solid #141d2f;
  border-radius: 2rem;
  background-color: inherit;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  background-color: #626b96;
  border-color: #f9b179;
}
.active {
  background-color: #f9b179;
  border-color: #f9b179;
  font-weight: bold;
}
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}
