.createContainer {
  padding: 40px;
  text-align: center;
}
.title {
  font-size: 44px;
}
.featList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}
.featItem {
  margin: 16px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.button {
  padding: 8px 30px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  border: transparent;
  color: #fff;
  background-color: #9aa596;
  cursor: pointer;
}
.button:hover {
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
.itemDesc {
  display: inline-block;
  margin-left: 12px;
}
.iconButton {
  font-size: 30px;
}
.showMessage {
  margin-bottom: 32px;
  font-size: 16px;
  color: rgb(217, 83, 92);
  display: block;
}
