.successContainer {
  padding: 40px;
  text-align: start;
}
.successHeader {
  font-size: 44px;
  text-align: start;
  margin-bottom: 0;
}
.successMsg {
  font-weight: 500;
  font-size: 28px;
}
.pinDesc {
  font-size: 20px;
}
.commonBtn {
  display: block;
  width: 450px;
  height: 50px;
  margin: 32px 0;
  background-color: #f9b179;
  border: 0;
  border-radius: 8px;
}
