.successContainer {
  padding: 40px;
  text-align: center;
}
.successHeader {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 0;
}
.successMsg {
  font-weight: 600;
  font-size: 28px;
}
.pinDesc {
  font-size: 20px;
}
.commonBtn {
  display: block;
  width: 450px;
  height: 50px;
  margin: 32px auto;
  font-weight: 600;
  color: #fff;
  background-color: #9aa596;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.commonBtn:hover {
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
