.friendsContainer {
  height: 100vh;
  overflow: auto;
  padding: 40px;
}
.friendsTitle {
  font-size: 44px;
}
.recentHistory {
  padding: 30px;
  border: 3px solid #6a7a65;
  border-radius: 16px;
}
.recentTitle {
  margin-bottom: 10px;
  color: #9fa2ae;
  font-size: 20px;
  font-weight: 500;
}
.recentTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin: 10px 0;
}
.recentTable th {
  font-weight: 600;
  border: 3px solid #6a7a65;
  border-bottom: 1px solid #9aa596;
  color: #fff;
  background-color: #6a7a65;
  padding: 10px 5px;
  text-align: left;
}

.recentTableRow td {
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}
.submitBtn {
  margin: 20px 10px 20px 0;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #9aa596;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: #6a7a65;
  transition: background-color 1s ease;
}
.submitBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.freindsList {
  margin-top: 20px;
  padding: 30px;
  border: 3px solid #6a7a65;
  border-radius: 16px;
}
.friendsListTitile {
  margin-bottom: 10px;
  color: #9fa2ae;
  font-size: 20px;
  font-weight: 500;
}

.informMessage {
  font-size: 20px;
  margin: 32px 0;
}
